/* This file is generated */
.custom-2{
  width: 400px;
  height: 300px;
  background-image: url(http:/example.com/2.png);
  background-size: 400px 300px;
}
.custom-7151{
  width: 320px;
  height: 240px;
  background-image: url(http:/example.com/7151.jpg);
  background-size: 320px 240px;
}
.custom-cat--20090508_025_amazing{
  width: 374px;
  height: 281px;
  background-image: url(http:/example.com/cat/20090508_025_amazing.jpg);
  background-size: 374px 281px;
}
.custom-thumbkoshki3912{
  width: 160px;
  height: 120px;
  background-image: url(http:/example.com/thumbkoshki3912.jpg);
  background-size: 160px 120px;
}
